h1{
	color: #870a7e;
	text-align: center;
	font-size: 40px;
}

h2{
	color: #870a7e;
	text-align: left;
	font-size: 30px;
}

body{
	background-color: #ffd6fa;
	font-family:Geneva;
	font-size:20px;
}